/* Keha */
body { padding: 2rem 2rem 8rem 2rem; }

/* Üldine font ja fondisuurus */
body, textarea, input, legend {  
  font-family: 'Times New Roman', serif !important;
  font-size: 14pt !important;
}

button {
  font-family: 'Roboto', sans-serif !important;
  font-size: 18pt !important;
}

.ikoon { font-family: 'Material Icons';
  font-size: 48px;
}
