/* Keha */
body { padding: 2rem 0.5rem 8rem 1rem; }

/* Üldine font ja fondisuurus */
body, textarea, input, legend {  
  font-family: 'Arial', sans-serif;
  font-size: 17px;
}

h1 {
  font-size: 24px !important;
  font-family: 'Segoe UI Semibold', Arial, Helvetica, sans-serif;
  margin-top: 1em;
  margin-bottom: 1rem;
}
h2 {
  /* font-size: 13pt !important; */
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.ikoon { font-family: 'Material Icons';
  font-size: 48px;
}

.ok { color: green; }
.nok { color: Tomato; }

.Loendur {
  border: 1px dotted Tomato;
  color: Tomato;
  border-radius: 4px;
  padding: 4px;
  font-family: monospace;
}

.peidetud {
  display: none;
}