/* Keha */
body { padding: 2rem 0.5rem 8rem 1rem; }

/* Üldine font ja fondisuurus */
body, textarea, input, legend {  
  font-family: 'Arial', sans-serif;
  font-size: 17px;
}

h1 {
  font-size: 24px !important;
  font-family: 'Segoe UI Semibold', Arial, Helvetica, sans-serif;
  margin-top: 1em;
  margin-bottom: 1rem;
}
h2 {
  /* font-size: 13pt !important; */
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.ikoon { font-family: 'Material Icons';
  font-size: 48px;
}

.peidetud {
  display: none;
}

.info, .viga {
  padding: .5em;
  border: .5em;
  border-left-style: solid;
  page-break-inside: avoid;
  margin: 1em auto;
}  

.info {
  border-color: #52E052;
  background: #E9FBE9;
  overflow: auto;
}

.viga {
  border-color: orange;
  border-style: none solid;
  background: #FFEECC;
}
