<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIHA-Watch</title>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!-- Material Design icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Stiilid -->
    <link rel='stylesheet' href='css/Visual.css'>

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src='js/Watch.js'></script>

  </head>

  <body onload="alusta()">

    <h1>RIHA-Watch</h1>
    <p id='Teade' class='info'>
      Andmeid laetakse...
    </p>
    <p id='Diagramm'></p>
    <p id='Detailid'></p>

    <% include ../partials/jalus.ejs %>

  </body>

</html>